.main-page {
  align-items: center;
  padding: 20%;
  margin: auto;
  text-align: center;
  background-color: #ff9641;
}

mat-card {
  max-width: 300px;
  margin: auto;
}

button {
  margin: 5%;
  background-color: black;
  color: #fff;
}