.movie-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;


  mat-card-title {
    text-overflow: hidden;

  }

  img {
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}